%html

  %head
    %link{:rel => "stylesheet", :type => "text/css", :href => "main.css"}
    %script{:type => "text/javascript, src="lib/EventAggregator.js"}
    %title Backbone.js spike

  %body

    %h4 drag and drop items in list to change their order

    %div#teams_container


