%html

  %head
    %link{:rel => "stylesheet", :type => "text/css", :href => "main.css"}
    %script{:type => "text/javascript", :src => "lib/jquery-1.4.4.min.js"}
    %script{:type => "text/javascript", :src => "lib/jquery-ui-1.8.11.custom.min.js"}
    %script{:type => "text/javascript", :src => "lib/underscore-min.js"}
    %script{:type => "text/javascript", :src => "lib/backbone-min.js"}
    %script{:type => "text/javascript", :src => "lib/TeamList.js"}
    %script{:type => "text/javascript", :src => "lib/PageView.js"}
    %script{:type => "text/javascript", :src => "index.js"}
    %title Backbone.js spike

  %body

    %h4 drag and drop items in list to change their order

    %div#teams_container


