body {
  color: #000099;
}

#teams_container {
  width: 250px;
  background-color: silver;
  padding: 5px;
}

.team {
  border: 1px solid black;
  padding: 1px;
  padding-left: 3px;

  background-color: #d5d5d5;
}

.dragged_over {
  color: #d5d5d5;
  background-color: #000099;
}

.ui-draggable-dragging {
  background-color: #a5a5a5;
}
